<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Verify Your Email</title>
  <link rel="stylesheet" href="style.css" />
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Gabarito:wght@400..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .mb-2 {
        margin-bottom: 2rem;
    }

    .mb-1 {
        margin-bottom: 0.5rem;
    }

    .zinc-400{
        color: #A1A1AA;
    }

    .zinc-200{
        color: #e4e4e7;
    }

    body {
    font-family: 'Gabarito', sans-serif;
    background: #18181b;
    color: #e4e4e7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    }

    .container {
    z-index: 2;
    }

    h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #e4e4e7;
    }

    p {
    font-size: 2rem;
    color: #A1A1AA;
    }

    button {
    background-color: #F43F5E;
    border: none;
    padding: 0.9rem 2rem;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    color: #e4e4e7;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background-color 0.3s;
    }

    button:hover {
    background-color: #e63353;
    }

    small, p small {
    font-size: 1.2rem;
    }

    footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #e4e4e7;
    z-index: 2;
    }

    .brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #F43F5E;
    }

    .brand .dot {
    color: white;
    }

    body::before,
    body::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: #ff3b5c;
    border-radius: 50% 40% 30% 70%;
    filter: blur(50px);
    z-index: 0;
    }

    body::before {
    top: -100px;
    right: -100px;
    }

    body::after {
    bottom: -100px;
    left: -100px
    }

    .background {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    }

    .bottom-left {
    bottom: 0;
    left: 0;
    transform: scale(1.1);
    }

    .top-right {
    top: 0;
    right: 0;
    transform: scale(1.1);
    }

    .center {
    transform: scale(1.1);
    }

</style>

<body>

  <div class="background bottom-left">
    <svg width="685" height="577" viewBox="0 0 685 577" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M-51.5 327C-51.5 504.316 -210.853 528.163 -319.186 535.163C-363.353 531.663 -462.286 562.062 -504.686 711.662C-547.086 861.262 -325.353 764.995 -209.186 698.162C-87.6859 665.495 223.714 632.462 497.314 761.662C770.914 890.862 681.667 580.333 615.5 466.5C562.833 398 542.287 554.106 412.5 486C362 459.5 362.833 428.833 292 355C239 307.333 132.5 382.45 132.5 263C132.5 160.5 165.647 135.329 115.814 89.663C81.314 50.3296 -3.58594 -21.437 -67.1859 6.16297C-130.786 33.763 -112.5 63 -102 137.5C-67.1859 222.5 -51.5 234 -51.5 327Z" fill="url(#paint0_linear_1159_1281)"/>
      <defs>
        <linearGradient id="paint0_linear_1159_1281" x1="684" y1="315.5" x2="-366.515" y2="676.298" gradientUnits="userSpaceOnUse">
          <stop stop-color="#BB253F"/>
          <stop offset="0.557692" stop-color="#D93D58"/>
          <stop offset="0.706731" stop-color="#E98999"/>
          <stop offset="0.870192" stop-color="#E34561"/>
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="background top-right">
    <svg width="729" height="583" viewBox="0 0 729 583" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M492.569 -364.515C470.205 -390.869 501.204 -438.162 532.811 -424.173L830.785 -292.298C842.645 -287.049 849.789 -274.774 848.494 -261.87L800.455 216.973C800.369 217.824 800.323 218.56 800.299 219.415C799.74 239.175 788.595 502.458 593.164 411C453.856 345.806 422.156 467.339 415.978 550.019C414.041 575.949 382.603 592.342 361.911 576.596L12.3857 310.62C-13.7953 290.697 7.22422 247.057 39.6142 252.823C233.976 287.423 323.042 242.076 329.794 8.17529C330.136 -3.67609 337.32 -14.5755 348.15 -19.4011C564.805 -115.941 633.299 -198.671 492.569 -364.515Z" fill="url(#paint0_linear_1158_1211)"/>
      <defs>
        <linearGradient id="paint0_linear_1158_1211" x1="370.832" y1="-507" x2="370.832" y2="617.5" gradientUnits="userSpaceOnUse">
          <stop offset="0.01" stop-color="#B51833" stop-opacity="0.7"/>
          <stop offset="0.205" stop-color="#EA899A"/>
          <stop offset="0.5" stop-color="#C1324A"/>
          <stop offset="0.75" stop-color="#BB253F"/>
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="background center">
    <svg width="1000" height="1000" viewBox="0 0 1000 1000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_f_1158_1147)">
          <path d="M600 500C600 555.228 555.228 600 500 600C444.772 600 400 555.228 400 500C400 444.772 444.772 400 500 400C555.228 400 600 444.772 600 500Z" fill="#71717A"/>
        </g>
        <defs>
          <filter id="filter0_f_1158_1147" x="0" y="0" width="1000" height="1000" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_1158_1147"/>
          </filter>
        </defs>
      </svg>
  </div>

  <div class="container">
    <h1>Verify your email</h1>
    <p class="mb-2 zinc-400">Click the button below to finish verifying your email address</p>
    <button>CONFIRM EMAIL</button>
    <p><small>Please ignore this email if you have not created an account.</small></p>
  </div>
  <footer>
    <p class="zinc-400 mb-1">Made by us,</p>
    <p class="zinc-200 mb-1">For you to finish.</p>
    <div class="brand">
        <svg width="130" height="31" viewBox="0 0 130 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1161_1332)">
            <path d="M103.35 1.23828C102.53 1.23828 101.874 1.49711 101.383 2.01623C100.918 2.50804 100.686 3.15001 100.686 3.94236C100.686 4.70739 100.918 5.35061 101.383 5.86973C101.874 6.36154 102.53 6.60641 103.35 6.60641C104.142 6.60641 104.784 6.36154 105.276 5.86973C105.768 5.35061 106.014 4.70739 106.014 3.94236C106.014 3.15001 105.768 2.50804 105.276 2.01623C104.784 1.49711 104.142 1.23828 103.35 1.23828ZM78.8198 2.18008V30.0901H81.9341L82.5181 27.7037C83.0251 28.274 83.5924 28.7725 84.2291 29.1883C85.5679 30.0627 87.1385 30.5004 88.9418 30.5004C90.7997 30.5004 92.4122 30.0627 93.7783 29.1883C95.1717 28.314 96.2514 27.0986 97.0164 25.5412C97.7814 23.9565 98.1633 22.1258 98.1633 20.0493C98.1633 17.9727 97.7814 16.156 97.0164 14.5986C96.2514 13.0412 95.1717 11.8397 93.7783 10.9927C92.4122 10.1184 90.7997 9.6807 88.9418 9.6807C87.1385 9.6807 85.5679 10.1184 84.2291 10.9927C83.7509 11.2953 83.3221 11.6589 82.9171 12.0521V2.18008H78.8198ZM118.783 9.6807C116.761 9.6807 114.972 10.1184 113.415 10.9927C111.884 11.867 110.696 13.0825 109.849 14.6398C109.002 16.1972 108.578 18.028 108.578 20.1318C108.578 22.2083 109.002 24.0251 109.849 25.5825C110.696 27.1399 111.884 28.3553 113.415 29.2296C114.972 30.0766 116.761 30.5004 118.783 30.5004C120.832 30.5004 122.622 30.0766 124.152 29.2296C125.682 28.3553 126.871 27.1399 127.718 25.5825C128.592 24.0251 129.028 22.2083 129.028 20.1318C129.028 18.028 128.592 16.1972 127.718 14.6398C126.871 13.0825 125.682 11.867 124.152 10.9927C122.622 10.1184 120.832 9.6807 118.783 9.6807ZM101.301 10.0909V30.0901H105.4V10.0909H101.301ZM88.3277 13.2053C90.0217 13.2053 91.388 13.8333 92.4263 15.0901C93.4645 16.3469 93.9834 18.0001 93.9834 20.0493C93.9834 22.1258 93.4645 23.8068 92.4263 25.0909C91.388 26.3478 90.0217 26.9758 88.3277 26.9758C86.661 26.9758 85.3086 26.3478 84.2704 25.0909C83.2321 23.8341 82.7132 22.167 82.7132 20.0905C82.7132 18.014 83.2321 16.3469 84.2704 15.0901C85.3086 13.8333 86.661 13.2053 88.3277 13.2053ZM118.783 13.6155C120.613 13.6155 122.076 14.2156 123.169 15.4178C124.289 16.62 124.849 18.1919 124.849 20.1318C124.849 22.0444 124.289 23.6011 123.169 24.8033C122.076 25.9781 120.613 26.5656 118.783 26.5656C116.979 26.5656 115.518 25.9781 114.398 24.8033C113.305 23.6011 112.759 22.0304 112.759 20.0905C112.759 18.1506 113.305 16.5927 114.398 15.4178C115.518 14.2156 116.979 13.6155 118.783 13.6155ZM70.6639 23.8202C70.0901 23.8202 69.5573 23.9699 69.0655 24.2705C68.5737 24.571 68.1778 24.9681 67.8773 25.4599C67.5767 25.9244 67.4258 26.4572 67.4258 27.0583C67.4258 27.6321 67.5767 28.165 67.8773 28.6568C68.1778 29.1486 68.5737 29.5444 69.0655 29.845C69.5573 30.1455 70.0901 30.2952 70.6639 30.2952C71.265 30.2952 71.8118 30.1455 72.3036 29.845C72.7954 29.5444 73.1912 29.1486 73.4917 28.6568C73.7923 28.165 73.942 27.6321 73.942 27.0583C73.942 26.4572 73.7923 25.9244 73.4917 25.4599C73.1912 24.9681 72.7954 24.571 72.3036 24.2705C71.8118 23.9699 71.265 23.8202 70.6639 23.8202Z" fill="#1F2937"/>
            <path d="M60.0901 0.5C59.1065 0.5 58.3136 0.81463 57.7125 1.44305C57.1387 2.04415 56.852 2.83583 56.852 3.81944C56.852 4.7484 57.1387 5.51343 57.7125 6.11453C58.3136 6.71562 59.1065 7.0163 60.0901 7.0163C61.0737 7.0163 61.8514 6.71562 62.4252 6.11453C63.0263 5.51343 63.327 4.7484 63.327 3.81944C63.327 2.83583 63.0263 2.04415 62.4252 1.44305C61.8514 0.81463 61.0737 0.5 60.0901 0.5ZM10.6444 9.59781C9.77011 9.59781 8.92264 9.81728 8.10297 10.2544C7.31063 10.6643 6.60017 11.1553 5.97176 11.7291C5.79839 11.8945 5.66486 12.0494 5.5165 12.2081L4.98869 10.0493H0.972656V30.0898H6.34072V16.4318C6.60916 16.1528 6.90077 15.9004 7.24248 15.7051C8.19876 15.1313 9.56513 14.8446 11.3411 14.8446H12.6518V9.96677C12.4606 9.83015 12.1878 9.735 11.8326 9.68035C11.4774 9.6257 11.0816 9.59781 10.6444 9.59781ZM23.4542 9.59781C21.4597 9.59781 19.7114 10.0495 18.2087 10.9511C16.706 11.8254 15.5439 13.0548 14.7242 14.6395C13.9046 16.1969 13.4948 18.0137 13.4948 20.0902C13.4948 22.194 13.9046 24.0247 14.7242 25.5821C15.5439 27.1395 16.706 28.3549 18.2087 29.2293C19.7114 30.0763 21.4597 30.5 23.4542 30.5C25.64 30.5 27.4974 30.0623 29.0274 29.188C30.5848 28.2863 31.8154 27.0024 32.717 25.3357L28.9874 23.2045C28.4136 24.0515 27.7298 24.762 26.9375 25.3357C26.1451 25.9095 25.0528 26.1962 23.6593 26.1962C22.0747 26.1962 20.8174 25.7458 19.8884 24.8442C19.1078 24.0399 18.6862 22.9638 18.5814 21.6473H33.2898C33.3445 21.4561 33.3724 21.2239 33.3724 20.9507C33.3996 20.6501 33.4137 20.3495 33.4137 20.0489C33.4137 18.027 33.0039 16.2382 32.1842 14.6808C31.3645 13.0961 30.2024 11.8527 28.6997 10.9511C27.2243 10.0495 25.4761 9.59781 23.4542 9.59781ZM34.3517 10.0493L42.0573 30.0898H47.2215L54.557 10.0493H49.0238L44.6063 23.4834L40.0074 10.0493H34.3517ZM57.4261 10.0493V30.0898H62.7941V10.0493H57.4261ZM23.4542 13.8203C25.1482 13.8203 26.3915 14.3519 27.1838 15.4175C27.6647 16.0426 27.9869 16.7898 28.1857 17.6312H18.6577C18.842 16.6678 19.245 15.857 19.8884 15.2136C20.7901 14.2846 21.9788 13.8203 23.4542 13.8203Z" fill="#F43F5E"/>
            <path d="M60.0902 0.5C59.1066 0.5 58.3137 0.814633 57.7126 1.44305C57.1388 2.04415 56.8521 2.83583 56.8521 3.81944C56.8521 4.7484 57.1388 5.51343 57.7126 6.11453C58.3137 6.71562 59.1066 7.0163 60.0902 7.0163C61.0738 7.0163 61.8515 6.71562 62.4253 6.11453C63.0264 5.51343 63.3271 4.7484 63.3271 3.81944C63.3271 2.83583 63.0264 2.04415 62.4253 1.44305C61.8515 0.814633 61.0738 0.5 60.0902 0.5ZM34.4844 10.0493L42.195 16.4381L40.0075 10.0493H34.4844ZM49.0239 10.0493L45.9109 19.5173L46.0685 19.6474L51.8255 17.5112L54.5571 10.0493L49.0239 10.0493ZM57.4262 10.0493V15.4325L62.7943 13.44V10.0493H57.4262Z" fill="#BE123C"/>
            <path d="M20.5801 18.3809L13.5398 20.9936C13.6432 22.7171 14.0259 24.2545 14.7242 25.5813C15.5439 27.1387 16.706 28.3541 18.2087 29.2284C19.7114 30.0754 21.4597 30.4992 23.4542 30.4992C25.64 30.4992 27.4974 30.0615 29.0274 29.1872C29.903 28.6802 30.6639 28.0385 31.3325 27.2898L27.9305 24.4707C27.6189 24.7831 27.2929 25.0775 26.9375 25.3349C26.1451 25.9087 25.0528 26.1954 23.6593 26.1954C22.0747 26.1954 20.8174 25.745 19.8884 24.8434C19.1078 24.039 18.6862 22.9629 18.5814 21.6465H24.5211L20.5801 18.3809ZM6.34072 23.6652L0.972656 25.6564V30.0889H6.34072V23.6652Z" fill="#BE123C"/>
            </g>
            <defs>
            <clipPath id="clip0_1161_1332">
            <rect width="128.055" height="30" fill="white" transform="translate(0.972656 0.5)"/>
            </clipPath>
            </defs>
        </svg>
    </div>
  </footer>
</body>
</html>
