<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Verify Your Email</title>
</head>

<div style="font-family: 'Gabarito', sans-serif; background: #18181b; color: #e4e4e7;  width: 100%; overflow: hidden; display: table; text-align: center;">
  
  <table style="text-align: center; text-align: center; height: 100%; width: 100%; background-image: url('https://files.catbox.moe/qndmm4.png'); background-size: cover; background-position: center;">
    <tr>
      
      <td style="vertical-align: top; text-align: right;">
        <img src="https://files.catbox.moe/xs9du8.png" alt="" style="width: 300px; height: 250px;">
      </td>
      
    </tr>
    <tr>
      <td>
        <h1 style="font-size: 3rem; margin-bottom: 0.5rem; font-weight: 500;">Verify your email</h1>
      </td>
    </tr>
    <tr>
      <td>
        <p style="font-size: 1rem; color: #A1A1AA;">Click the button below to finish verifying your email address</p>
      </td>
    </tr>
    <tr>
      <td style="padding: 1rem;">
        <a href="http://65.87.7.245/user/emailVerify/{emailVerification}" target="_blank" style="text-decoration:none; font-family: 'Gabarito', sans-serif; background-color: #F43F5E; border: none; padding: 0.6rem 1rem; border-radius: 6px; font-weight: bold; font-size: 0.8rem; color: #e4e4e7; cursor: pointer; margin: 0.5rem; transition: background-color 0.5s;">CONFIRM EMAIL</a>
      </td>
    </tr>
    <tr>
      <td>
        <p style=" font-size: 0.8rem; color: #A1A1AA;">Please ignore this email if you have not created an account.</p>
      </td>
    </tr>
    
    <tr>
      <td style="padding-top: 3rem;">
        <p style="font-size: 1rem; color: #A1A1AA;">Made by us,</p>
        <p style="font-size: 1rem; ">For you to finish.</p>
        <img src="https://files.catbox.moe/fz9pi0.png" alt="">
      </td>
    </tr>
    <tr>
      <td style="text-align: left; vertical-align: bottom; overflow-wrap: normal;">
        <img src="https://files.catbox.moe/gmgfad.png" alt="" style="width: 300px; height: 250px;">
      </td>
    </tr>
    
  </table>
</div>
  

</html>
