<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Verify Your Email</title>
</head>

<style>
button:hover {
  background-color: #e11d48;
}
</style>


<div style="padding: 60px 0; font-family: 'Gabarito', sans-serif; background: #18181b; color: #e4e4e7;  width: 100%; overflow: hidden; display: table; text-align: center;">
  
  <table style="text-align: center; width: 100%; ">
    <tr>
      <td>
        <h1 style="font-size: 3rem; margin-bottom: 0.5rem; font-weight: 500;">Verify your email</h1>
      </td>
    </tr>
    <tr>
      <td>
        <p style="font-size: 1rem; margin-bottom: 1rem; color: #A1A1AA;">Click the button below to finish verifying your email address</p>
      </td>
    </tr>
    <tr>
      <td>
        <button onclick="alert('asdasdasd')" style="font-family: 'Gabarito', sans-serif; background-color: #F43F5E; border: none; padding: 0.8rem 1rem; border-radius: 6px; font-weight: bold; font-size: 0.6rem; color: #e4e4e7; cursor: pointer; margin-bottom: 0.5rem; transition: background-color 0.5s;">CONFIRM EMAIL</button>
      </td>
    </tr>
    <tr>
      <td>
        <p style=" font-size: 1rem; color: #A1A1AA;"><small style="font-size: 0.8rem;">Please ignore this email if you have not created an account.</small></p>
      </td>
    </tr>

    <tr>
      <td style="padding-top: 5rem;">
        <p style="font-size: 1rem; margin-bottom: 0.25rem; color: #A1A1AA;">Made by us,</p>
      </td>
    </tr>
    <tr>
      <td>
        <p style="font-size: 1rem; margin-bottom: 0.25rem;">For you to finish.</p>
      </td>
    </tr>
    <tr>
      <td>
        <img style="transform: scale(0.7);" src="https://files.catbox.moe/k13537.png" alt="">
      </td>
    </tr>

  </table>
  
  <table style="bottom: 120px; text-align: center; vertical-align: middle; display: table-cell;">
    
    
  </table>
  <!--
  <div class="background bottom-left" style=" display: inline-block; position: absolute; bottom: 0; left: 0;">
    <img src="https://files.catbox.moe/gmgfad.png" alt="">
  </div>
  
  <div class="background top-right" style="position: absolute; top: 0; right: 0;">
    <img src="https://files.catbox.moe/xs9du8.png" alt="">
  </div>
  
  <div class="background center" style="position: absolute;">
    <img src="https://files.catbox.moe/qndmm4.png" alt="">
  </div>
  -->
</div>
  

</html>
