<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Verify Your Email</title>
</head>

<style>
button:hover {
  background-color: #e11d48;
}
</style>


<div style="margin: 0; padding: 0;  font-family: 'Gabarito', sans-serif; background: #18181b; color: #e4e4e7; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; overflow: hidden; position: relative;">
  <div class="background bottom-left" style="margin: 0; padding: 0; position: absolute;  overflow: hidden; bottom: 0; left: 0;">
    <img src="https://files.catbox.moe/gmgfad.png" alt="">
  </div>

  <div class="background top-right" style="margin: 0; padding: 0; position: absolute;  overflow: hidden; top: 0; right: 0;">
    <img src="https://files.catbox.moe/xs9du8.png" alt="">
  </div>

  <div class="background center" style="margin: 0; padding: 0;  position: absolute; z-index: 0; overflow: hidden; transform: scale(1.1);">
    <img src="https://files.catbox.moe/qndmm4.png" alt="">
  </div>

  <table style="z-index: 2;  z-index: 2; max-width: 100%; padding: 3rem; margin: 0 auto;">
    <tr>
      <td>
        <h1 style="margin: 0; padding: 0; font-size: 5rem; margin-bottom: 1rem; font-weight: 500; color: #e4e4e7;">Verify your email</h1>
      </td>
    </tr>
    <tr>
      <td>
        <p class="mb-2 zinc-400" style="margin: 0; padding: 0; font-size: 2rem; margin-bottom: 2rem; color: #A1A1AA;">Click the button below to finish verifying your email address</p>
      </td>
    </tr>
    <tr>
      <td>
        <button onclick="alert('asdasdasd')" style="margin: 0; font-family: 'Gabarito', sans-serif; background-color: #F43F5E; border: none; padding: 0.9rem 2rem; border-radius: 6px; font-weight: bold; font-size: 1rem; color: #e4e4e7; cursor: pointer; margin-bottom: 1rem; transition: background-color 0.5s;">CONFIRM EMAIL</button>
      </td>
    </tr>
    <tr>
      <td>
        <p style="margin: 0; padding: 0; font-size: 2rem; color: #A1A1AA;"><small style="margin: 0; padding: 0;  font-size: 1.2rem;">Please ignore this email if you have not created an account.</small></p>
      </td>
    </tr>
  </table>
  <table style="margin: 0; padding: 0; bottom: 20px; text-align: center; color: #e4e4e7; z-index: 2;">
    <tr><td>
      <p class="zinc-400 mb-1" style="margin: 0; padding: 0; font-size: 2rem; margin-bottom: 0.5rem; color: #A1A1AA;">Made by us,</p>
    </td></tr>
    <tr><td>
      <p class="zinc-200 mb-1" style="margin: 0; padding: 0; font-size: 2rem; margin-bottom: 0.5rem; color: #e4e4e7;">For you to finish.</p>
    </td></tr>
    <tr><td>
      <img src="https://files.catbox.moe/k13537.png" alt="">
    </td></tr>
  </table>
</div>
  

</html>
