<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Verify Your Email</title>
</head>

<style>
  button:hover {
    background-color: #e11d48;
  }
  </style>


<div style="font-family: 'Gabarito', sans-serif; background: #18181b; color: #e4e4e7;  width: 100%; overflow: hidden; display: table; text-align: center;">
  
  <table style="text-align: center; width: 100%; text-align: center; height: 600px; width: 100%; background-image: url('https://files.catbox.moe/qndmm4.png'); background-size: cover; background-position: center;">
    <tr>
      
      <td style="width: 100px; height: 100px; vertical-align: top; text-align: right;">
        <img src="https://files.catbox.moe/xs9du8.png" alt="" style="width: 600px; height: 500px;">
      </td>
      
    </tr>
    <tr>
      <td>
        <h1 style="font-size: 5rem; margin-bottom: 0.5rem; font-weight: 500;">Verify your email</h1>
      </td>
    </tr>
    <tr>
      <td>
        <p style="font-size: 2rem; margin-bottom: 1rem; color: #A1A1AA;">Click the button below to finish verifying your email address</p>
      </td>
    </tr>
    <tr>
      <td>
        
        <button onclick="alert('asdasdasd')" style="font-family: 'Gabarito', sans-serif; background-color: #F43F5E; border: none; padding: 1rem 1.2rem; border-radius: 6px; font-weight: bold; font-size: 1.2rem; color: #e4e4e7; cursor: pointer; margin: 0.5rem; transition: background-color 0.5s;">CONFIRM EMAIL</button>
      </td>
    </tr>
    <tr>
      <td>
        <p style=" font-size: 1.2rem; color: #A1A1AA;">Please ignore this email if you have not created an account.</p>
      </td>
    </tr>
    
    <tr>
      <td style="padding-top: 5rem;">
        <p style="font-size: 2rem; color: #A1A1AA;">Made by us,</p>
        <p style="font-size: 2rem; ">For you to finish.</p>
        <img style="transform: scale(1);" src="https://files.catbox.moe/k13537.png" alt="">
      </td>
    </tr>
    <tr>
      <td style="text-align: left; vertical-align: bottom; overflow-wrap: normal;">
        <img src="https://files.catbox.moe/gmgfad.png" alt="" style="width: 600px; height: 500px;">
      </td>
    </tr>
    
  </table>
  <!--
    <div class="background bottom-left" style=" display: inline-block; position: absolute; bottom: 0; left: 0;">
    <img src="https://files.catbox.moe/gmgfad.png" alt="">
  </div>
  
  <div class="background top-right" style="position: absolute; top: 0; right: 0;">
    <img src="https://files.catbox.moe/xs9du8.png" alt="">
  </div>
  
  <div class="background center" style="position: absolute;">
    <img src="https://files.catbox.moe/qndmm4.png" alt="">
  </div>
  -->
</div>
  

</html>
